/* 
Project Name: my-portfolio
Client: me
Author: Yasmin el-amery
*/

/* Import Sass partials here */

@import 'defaults';
@import 'helpers';
@import 'layout';
@import 'normalize';
@import 'typography';
@import 'variables';
@import 'proj-one';

/******************************************
/* HOMEPAGE HEADER CONTENT AND MOVEMENT                 
/*******************************************/

.logo {
	background-image: url("../images/yea3.png");
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
	position: absolute;
	animation: bounce 4s infinite ease;
}

@keyframes bounce {
  0% {
    top:5%;
  }
  50% { 
    top:0;
  } 
  100% { 
    top:5%;
  }
}

/******************************************
/* HOMEPAGE PROJECT LINKS
/*******************************************/

.proj1-clearfix {
	background-image: url("../images/Athera_thumb.jpg");
	height:350px;
	background-size: cover;
	background-position: center;
}

.overlay {
	background:rgba(255,114,117,0.7);
	height: 350px;
	width: 100%;
	top:0;
	left:0;
	position: absolute;
	transform:translate( 0, 100% );
	transition: all 1s ease;
	text-align: center;
	margin:0 auto;
	padding-top: 100px; 
}

.column-half-clearfix:hover .overlay {
	transform: translate(0, -100%);
}

.column-half-clearfix:hover .overlay {
	transform: none;
}

/******************************************
/* ABOUT ME          
/*******************************************/

.picture-of-me-clearfix {
	background-image: url("../images/Athera_thumb.jpg");
	height:100%;
	width: 50%;
	background-size: cover;
	background-position: center;
	float: right;
}

.text-overlay-1 {
	margin:0 auto;
	width: 50%;
	height:100%;  
	float: left;
	background: linear-gradient(to left, #22bfe5 , #00aeef);
	padding-left:8%;
	padding-top:8%;
	padding-bottom:8%;
	padding-right: 6%;
}