/* 
Project Name: Sassy Blank Template
Client: Your Client
Author: Your Name
*/

/* Import Sass partials here */

@import 'defaults';
@import 'helpers';
@import 'layout';
@import 'normalize';
@import 'typography';
@import 'variables';

/******************************************
/* HOMEPAGE HEADER CONTENT AND MOVEMENT                 
/*******************************************/

.logo {
	background-image: url("../images/yea3.png");
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
	top:0;
  	left:0;
  	transition:all 1s ease;
}

.logo:hover {
  transform:translate( 0, -4% );
}

/******************************************
/* HOMEPAGE PROJECT LINKS
/*******************************************/

.proj1-clearfix {
	background-image: url("../images/Athera_thumb.jpg");
	height:350px;
	background-size: cover;
	background-position: center;
}

.overlay {
	background:rgba(255,114,117,0.7);
	height: 350px;
	width: 100%;
	top:0;
	left:0;
	position: absolute;
	transform:translate( 0, 100% );
	transition: all 1s ease;
	text-align: center;
	margin:0 auto;
	padding-top: 150px; 
}

.column-half-clearfix:hover .overlay {
	transform: translate(0, -100%);
}

.column-half-clearfix:hover .overlay {
	transform: none;
}

/******************************************
/* PROJECT PAGE 1             
/*******************************************/

/******************************************
/* PROJECT HEADER           
/*******************************************/

.hero-image-clearfix {
	background-image: url("../images/Athera_thumb.jpg");
	height:100%;
	width: 50%;
	background-size: cover;
	background-position: center;
	float: right;
}

.text-overlay {
	margin:0 auto;
	width: 50%;
	height:100%;  
	float: left;
	background:#ff7275;
	padding:8%;
}

ul {
	margin:0px;
	text-decoration: none;
}

li {
	margin:0px;
	margin-right: 5%;
	text-decoration: none;
	display: inline;
	float: right;
}

/******************************************
/* PROJECT IMAGES 3 COL          
/*******************************************/

.athera-brand1-clearfix {
	background-image: url("../images/Athera_1.jpg");
	height:100%;
	background-size: cover;
	background-position: center;
}

.athera-brand2-clearfix {
	background-image: url("../images/Athera_2.jpg");
	height:100%;
	background-size: cover;
	background-position: center;
}

.athera-brand3-clearfix {
	background-image: url("../images/Athera_3.jpg");
	height:100%;
	background-size: cover;
	background-position: center;
}

.athera-brand4-clearfix {
	background-image: url("../images/Athera_4.jpg");
	height:100%;
	background-size: cover;
	background-position: center;
}

.athera-brand5-clearfix {
	background-image: url("../images/Athera_5.jpg");
	height:100%;
	background-size: cover;
	background-position: center;
}

.athera-brand6-clearfix {
	background-image: url("../images/Athera_6.jpg");
	height:100%;
	background-size: cover;
	background-position: center;
}

.athera-brand7-clearfix {
	background-image: url("../images/Athera_7.jpg");
	height:100%;
	background-size: cover;
	background-position: center;
}

.athera-brand8-clearfix {
	background-image: url("../images/Athera_8.jpg");
	height:100%;
	background-size: cover;
	background-position: center;
}

.athera-brand9-clearfix {
	background-image: url("../images/Athera_9.jpg");
	height:100%;
	background-size: cover;
	background-position: center;
}

/******************************************
/* PROJECT IMAGES 2 COL          
/*******************************************/

.athera1-clearfix {
	background-image: url("../images/Athera1.jpg");
	height:100%;
	background-size: cover;
	background-position: center;
}

.athera2-clearfix {
	background-image: url("../images/Athera2.gif");
	height:100%;
	background-size: cover;
	background-position: center;
}

.athera3-clearfix {
	background-image: url("../images/Athera3.jpg");
	height:100%;
	background-size: cover;
	background-position: center;
}

.athera4-clearfix {
	background-image: url("../images/Athera4.png");
	height:100%;
	background-size: cover;
	background-position: center;
}

.athera5-clearfix {
	background-image: url("../images/Athera5.png");
	height:550px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

